.root,body{
  padding:0px;
  margin:0px;
}

.tile{
  font-size:20px !important;
  text-transform: capitalize !important;
}
.tag{
  font-size:13px !important;
  text-transform: capitalize !important;
  font-weight:400;
  margin-top:10px;
}
.para{
  font-size:15px !important;
  text-transform: capitalize !important;
  font-weight:400;
  padding:10px 0px;
}